.headerCreate {
  padding:20px 0 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:$colorWhite;
  @media all and (min-width: 768px) {
    justify-content: flex-start;
    padding:31px 0 30px 40px;
    }
  &__img{
    height:auto;
    width: 201px;
    }
}
